import(survival)
importFrom("graphics", "abline", "lines", "plot")
importFrom("stats", "isoreg", "optim", "pnorm", "quantile", "sd")

exportPattern("^[[:alpha:]]+")

export(
        sensspec, roc, auc, nri, butstrap, butstrap.nri, maxauc, 
        sensspec.s, roc.s, butstrap.s, maxauc.s, plotAUC, plotAUC.s, plotROC
)

